# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.eggs/
.pytest_cache/

# Distributions and packaging
dist/
build/
*.egg
*.whl

# Virtual environment
.venv


characters.json
locations.json
episodes.json